html, body {
    color: #fff;
}

span {
    padding: .2em;
}

button {
    color: white;
    border: none;
}

button, input:focus {
    outline: none;
}

link, a {
    text-decoration: none;
    color: black;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.footer {
    flex: 0 0 auto;
    background-color: #414141;
    height: 1em;
    color: #f55263;
    padding: 1em 2em;
    font-size: large;
}

.header {
    color: #f55263;
    font-size: large;
}

